
@import "CSS-reset.css";

/*參考助教直播*/

*, *::before, *::after{
    box-sizing: border-box;
    /*outline: solid 1px;*/ /*測試用*/
} /*盒模型*/

body{
    font-family: "Bruno Ace SC", sans-serif;
    line-height: 1.5;
} /*一般全體設定*/

a{
    text-decoration: none; /*無底線*/
    display: inline-block; /*行內元素*/
    color: inherit; /*繼承父層*/
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle; /*消除圖片的空白*/
}

/*最上方選單*/

.header{
    background: #000;
    color: #D1D1D1;
    padding: 40px 0;
}

.nav{
    display: flex;
    justify-content: space-between; /*橫向排列方式*/
    align-items: center; /*直向排列方式*/
}

.banner{
    background: #000;
    color: white;
}

.btn{
    padding: 12px 24px;
    border-radius: 32px; /*圓角*/
}

.btn-light{
    background: white;
    color: #000;
}

.btn-dark{
    background: black;
    color: white;
}

.intro{
    background-image: url("img/background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 160px 0;
}

.intro-desc{
    width: 526px;
}

.about{
    padding: 160px;
}

.about-list{
    width: 636px;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    /*gap寫法 只會在物件中推出空間*/
    gap:24px;
}

.about-list li{ /*計算方式*/
    width: calc(50% - 12px);
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.08);
    padding: 10px;
}

.about-desc{
    width:526px;
}

.contact{
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
    padding: 96px 0;
}

.social-link{
    /*box-shadow: 0px 4px 4px 0px #00000040;*/
    border-radius: 40px;
    gap:20px;
}

.social-link:hover{
    box-shadow: 0px 0px 16px 3px #9094FFE5;
    transition: 1s; /*發光(陰影)效果延遲*/
}

.project{
    padding: 160px 0;
}
 
.project-title{
    width: 746px;
    margin-left: auto;
}

.footer{
    padding: 40px 0;
    text-align: center;
}

.border-gery{
    border: 1px solid #E3E3E3;
}


.container{
    width: 1296px;
    margin: 0 auto;
}

.h1{
    font-size: 128px;
}

.h2{
    font-size: 64px;
}

.fs-1{
    font-size: 32px;
}

.fs-2{
    font-size: 24px;
}

.fs-3{
    font-size: 20px;
}

.fs-4{
    font-size: 16px;
    color: white;
}

.text-primary{
    color: #00FFA3;
}

.h2-title{
    color: white;
}

.banner-title-right{
    display: block;
    text-align: right;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.align-items-start{
    align-items: start;
}

.align-items-center{
    align-items: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.mr-5{
    margin-right: 20px;
}

.mr-6{
    margin-right: 24px;
}

.mb-6{
    margin-bottom: 24px;
}

.mb-8{
    margin-bottom: 32px;
}

.mb-9{
    margin-bottom: 36px;
}
